.images {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.law {
  width: 400px;
  height: 250px;
  border-radius: 8px;
  box-shadow: 0 0 5px;
}

.law:hover {
  transform: scale(1.1);
  cursor: pointer;
}
