.header {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.header_element {
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: darkslategray;
  text-decoration: none;
}

.header_element:hover {
  text-shadow: 0.5px 0.5px;
  color: black;
}